<!doctype html>
<html lang="en-us" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name=“viewport” content=“width=device-width, initial-scale=1.0”>
	<link rel="stylesheet" href="main.css">
</head>
<body ng-controller="mainController">

	<div class="questions col">
		<div ng-repeat="question in questions">
			<button ng-click="selected(question)">{{question.prompt}}</button>
		</div>
	</div>

	<div class="choices col">
		<div ng-repeat="food in foods | filter: foodFilter">
			{{food.name}}   <span class="origin">{{food.origin}}</span>
			<div>Calories: {{food.calories}} - <span>Spicy: {{food.spicyRating}}</span></div>
		</div>
	</div>






	
	<script src="/codeLib/jquery.js"></script>	
	<script src="/codeLib/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/mainController.js"></script>
	<script src="js/foodService.js"></script>
	<script src="js/questionsService.js"></script>
</body>
</html>